@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-color: #d4d4d8;
  --outline-color: #d4d4d8;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --border-color: #404040;
  --outline-color: #404040;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  border-color: var(--border-color);
  outline-color: var(--outline-color);
}
